@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, p, a {
  font-family: 'Raleway', sans-serif;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: 0.25rem;
  line-height: 1.3;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
}

.noLink {
  opacity: 0.6;
}

.textLink {
  color: white;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: -3px;
    bottom: -2px;
    height: 9px;
    width: 106%;
    opacity: 0.3;
    border-radius: 2px;
    background-color: white;
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 250ms ease-in;
  }

  &:hover {
    color: white;
    text-decoration: none;
    &::before {
      transform: scaleX(0);
      transform-origin: right;
    }
  }
}