main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 36rem;
  padding: 0 3rem;
  color: white;
  background-color: $bgColor;
  & h1 {
    font-size: 3rem;
    letter-spacing: 0.25rem;
    line-height: 1.3;
    margin: 0;
  }
  & p {
    letter-spacing: .1rem;
    line-height: 1.4;
    width: 100ch;
    margin-bottom: 1rem;
  }
  & a {
    height: 2.5rem;
    width: 16rem;
    position: relative;
    left: 3rem;
    background-color: #2b0875;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0.8;
    transition-duration: 350ms;
    transition-timing-function: ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
}