nav {
  position: absolute;
  top: 0;
  background: transparent;
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  & a {
    @include link(white);
    margin-right: 1rem;
  }
}